.content {
  width: 80%;
  margin: 20px auto 100px auto;
}

.content ul {
  display: grid;
  grid-row-gap: 10px;
}

.content ul li {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  height: 50px;
  line-height: 50px;
  background: #fff;
  padding-left: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #ccc;
}

.content ul li button {
  width: 50px;
  color: white;
  background: red;
  border-radius: 0px 10px 10px 0px;
  font-size: 15px;
  outline: none;
}

.content ul li button:hover {
  opacity: 0.8;
}

form {
  position: fixed;
  bottom: 0px;
  height: 50px;
  background: blueviolet;
  width: 100%;
  display: flex;
  justify-content: center;
}
form input {
  padding-left: 10px;
  height: 50px;
  width: 60%;
  outline: none;
}
form button {
  width: 50px;
  background: red;
  color: white;
  font-size: 20px;
  cursor: pointer;
  outline: none;
}

@media only screen and (min-width: 320px) and (max-width: 425px) {
  
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .content {
    width: 50%;
    margin: 20px auto 100px auto;
  }
  form input {
    padding-left: 10px;
    height: 50px;
    width: 40%;
    outline: none;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .content {
    width: 50%;
    margin: 20px auto 100px auto;
  }
  form input {
    padding-left: 10px;
    height: 50px;
    width: 40%;
    outline: none;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .content {
    width: 50%;
    margin: 20px auto 100px auto;
  }
  form input {
    padding-left: 10px;
    height: 50px;
    width: 40%;
    outline: none;
  }
}